@import "tailwindcss";

@theme {
    --font-googlesans: "Google Sans", serif;
}

@font-face {
    font-family: Google Sans;
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
    src: url("/public/GoogleSans-Regular.ttf");
}